.container-fluid {
  background-color: bisque;
  width: 100%;
}
.card {
  display: inline-flexbox;
  position: relative;
  float: left;
  background-color: lightgrey;
}
.card-title {
  text-align: center;
}
.btn {
  display: inline-flexbox;
  position: relative;
  float: center;
}
